deploy/notifications.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.10.61.36676",
      "templateHash": "17937437536043187345"
    }
  },
  "parameters": {
    "applicationInsightsName": {
      "type": "string"
    },
    "cosmosDbConnectionName": {
      "type": "string"
    },
    "serviceBusConnectionName": {
      "type": "string"
    },
    "twitterConnectionName": {
      "type": "string"
    },
    "cosmosDbAccountName": {
      "type": "string"
    },
    "functionAppName": {
      "type": "string"
    },
    "functionPlanName": {
      "type": "string"
    },
    "eventGridTopicName": {
      "type": "string"
    },
    "serviceBusNamespaceName": {
      "type": "string"
    },
    "storageAccountName": {
      "type": "string"
    },
    "tweetNewDeprecationWorkflowName": {
      "type": "string"
    },
    "defaultLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "cosmosDbConnectionId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('defaultLocation'), 'documentdb')]",
    "serviceBusConnectionId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('defaultLocation'), 'servicebus')]",
    "twitterConnectionId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('defaultLocation'), 'twitter')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/serverfarms",
      "apiVersion": "2021-01-15",
      "name": "[parameters('functionPlanName')]",
      "location": "[parameters('defaultLocation')]",
      "sku": {
        "name": "Y1",
        "tier": "Dynamic",
        "size": "Y1"
      },
      "kind": "functionapp",
      "properties": {
        "reserved": true
      }
    },
    {
      "type": "Microsoft.Web/sites",
      "apiVersion": "2021-01-15",
      "name": "[parameters('functionAppName')]",
      "location": "[parameters('defaultLocation')]",
      "kind": "functionapp,linux",
      "properties": {
        "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('functionPlanName'))]",
        "reserved": true,
        "siteConfig": {
          "appSettings": [
            {
              "name": "APPINSIGHTS_INSTRUMENTATIONKEY",
              "value": "[reference(resourceId('microsoft.insights/components/', parameters('applicationInsightsName')), '2015-05-01').InstrumentationKey]"
            },
            {
              "name": "AzureWebJobsStorage",
              "value": "[format('DefaultEndpointsProtocol=https;AccountName={0};AccountKey={1}', parameters('storageAccountName'), listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2015-05-01-preview').key1)]"
            },
            {
              "name": "FUNCTIONS_EXTENSION_VERSION",
              "value": "~4"
            },
            {
              "name": "FUNCTIONS_WORKER_RUNTIME",
              "value": "dotnet"
            },
            {
              "name": "EVENTGRID_AUTH_KEY",
              "value": "[listKeys(resourceId('Microsoft.EventGrid/topics', parameters('eventGridTopicName')), '2020-06-01').key1]"
            },
            {
              "name": "EVENTGRID_ENDPOINT",
              "value": "[format('https://{0}.{1}-1.eventgrid.azure.net/api/events', parameters('eventGridTopicName'), parameters('defaultLocation'))]"
            },
            {
              "name": "ServiceBus_ConnectionString",
              "value": "[listKeys(resourceId('Microsoft.ServiceBus/namespaces/authorizationRules', parameters('serviceBusNamespaceName'), 'RootManageSharedAccessKey'), '2017-04-01').primaryConnectionString]"
            }
          ]
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/serverfarms', parameters('functionPlanName'))]"
      ]
    },
    {
      "type": "Microsoft.ServiceBus/namespaces/topics",
      "apiVersion": "2021-06-01-preview",
      "name": "[format('{0}/{1}', parameters('serviceBusNamespaceName'), 'new-deprecation-notices')]",
      "properties": {}
    },
    {
      "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions",
      "apiVersion": "2021-06-01-preview",
      "name": "[format('{0}/{1}/{2}', parameters('serviceBusNamespaceName'), 'new-deprecation-notices', 'event-grid-notifications')]",
      "properties": {
        "maxDeliveryCount": 3
      },
      "dependsOn": [
        "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('serviceBusNamespaceName'), 'new-deprecation-notices')]"
      ]
    },
    {
      "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions/rules",
      "apiVersion": "2021-06-01-preview",
      "name": "[format('{0}/{1}/{2}/{3}', parameters('serviceBusNamespaceName'), 'new-deprecation-notices', 'event-grid-notifications', 'unfiltered')]",
      "properties": {
        "action": {},
        "filterType": "SqlFilter",
        "sqlFilter": {
          "sqlExpression": "1=1",
          "compatibilityLevel": 20
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.ServiceBus/namespaces/topics/subscriptions', parameters('serviceBusNamespaceName'), 'new-deprecation-notices', 'event-grid-notifications')]"
      ]
    },
    {
      "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions",
      "apiVersion": "2021-06-01-preview",
      "name": "[format('{0}/{1}/{2}', parameters('serviceBusNamespaceName'), 'new-deprecation-notices', 'new-notice-tweet')]",
      "properties": {
        "maxDeliveryCount": 3
      },
      "dependsOn": [
        "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('serviceBusNamespaceName'), 'new-deprecation-notices')]"
      ]
    },
    {
      "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions/rules",
      "apiVersion": "2021-06-01-preview",
      "name": "[format('{0}/{1}/{2}/{3}', parameters('serviceBusNamespaceName'), 'new-deprecation-notices', 'new-notice-tweet', 'unfiltered')]",
      "properties": {
        "action": {},
        "filterType": "SqlFilter",
        "sqlFilter": {
          "sqlExpression": "1=1",
          "compatibilityLevel": 20
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.ServiceBus/namespaces/topics/subscriptions', parameters('serviceBusNamespaceName'), 'new-deprecation-notices', 'new-notice-tweet')]"
      ]
    },
    {
      "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions",
      "apiVersion": "2021-06-01-preview",
      "name": "[format('{0}/{1}/{2}', parameters('serviceBusNamespaceName'), 'new-deprecation-notices', 'persist-new-notice')]",
      "properties": {
        "maxDeliveryCount": 3
      },
      "dependsOn": [
        "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('serviceBusNamespaceName'), 'new-deprecation-notices')]"
      ]
    },
    {
      "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions/rules",
      "apiVersion": "2021-06-01-preview",
      "name": "[format('{0}/{1}/{2}/{3}', parameters('serviceBusNamespaceName'), 'new-deprecation-notices', 'persist-new-notice', 'unfiltered')]",
      "properties": {
        "action": {},
        "filterType": "SqlFilter",
        "sqlFilter": {
          "sqlExpression": "1=1",
          "compatibilityLevel": 20
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.ServiceBus/namespaces/topics/subscriptions', parameters('serviceBusNamespaceName'), 'new-deprecation-notices', 'persist-new-notice')]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('serviceBusConnectionName')]",
      "location": "[parameters('defaultLocation')]",
      "properties": {
        "displayName": "[parameters('serviceBusConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[variables('serviceBusConnectionId')]"
        },
        "parameterValues": {
          "connectionString": "[listKeys(resourceId('Microsoft.ServiceBus/namespaces/authorizationRules', parameters('serviceBusNamespaceName'), 'RootManageSharedAccessKey'), '2017-04-01').primaryConnectionString]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('twitterConnectionName')]",
      "location": "[parameters('defaultLocation')]",
      "properties": {
        "displayName": "[parameters('twitterConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[variables('twitterConnectionId')]"
        },
        "parameterValues": {}
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('tweetNewDeprecationWorkflowName')]",
      "location": "[parameters('defaultLocation')]",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_new_notice_was_published": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent(encodeURIComponent('new-deprecation-notices'))}/subscriptions/@{encodeURIComponent('new-notice-tweet')}/messages/head/peek",
                "queries": {
                  "sessionId": "None",
                  "subscriptionType": "Main"
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 15
              }
            }
          },
          "actions": {
            "Complete_the_new_notice_to_tweet": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "delete",
                "path": "/@{encodeURIComponent(encodeURIComponent('new-deprecation-notices'))}/subscriptions/@{encodeURIComponent('new-notice-tweet')}/messages/complete",
                "queries": {
                  "lockToken": "@triggerBody()?['LockToken']",
                  "sessionId": "",
                  "subscriptionType": "Main"
                }
              },
              "runAfter": {
                "Post_a_tweet": [
                  "Succeeded"
                ]
              }
            },
            "Parse_JSON": {
              "runAfter": {},
              "type": "ParseJson",
              "inputs": {
                "content": "@{decodeBase64(triggerBody()?['ContentData'])}",
                "schema": {
                  "DeprecationInfo": {
                    "AdditionalInformation": "https://docs.microsoft.com/en-us/azure/cognitive-services/translator/migrate-to-v3",
                    "Contact": {
                      "Type": 3
                    },
                    "DueOn": "2025-03-31T00:00:00+00:00",
                    "Impact": {
                      "Area": "Feature",
                      "Cloud": "Public",
                      "Description": "Service will no longer be available.",
                      "Services": [
                        "CognitiveServices"
                      ],
                      "Type": "MigrationRequired"
                    },
                    "Notice": {
                      "AdditionalInfo": null,
                      "Links": [
                        "https://azure.microsoft.com/en-gb/updates/version-2-of-translator-is-retiring-on-24-may-2021/",
                        "https://docs.microsoft.com/en-us/azure/cognitive-services/translator/migrate-to-v3"
                      ],
                      "OfficialReport": "> In May 2018, we announced the general availability of version 3 of Translator and will retire version 2 of Translator on 24 May 2021.\r\n> \r\n> Key benefits of version 3 of Translator include: \r\n> - More functionalities including bilingual dictionary, transliterate and translate to multiple target languages in a single request.\r\n> - Provides a  [layered security model](https://docs.microsoft.com/en-us/azure/cognitive-services/Welcome#securing-resources) as part of Azure Cognitive Services.\r\n> - Customized translations through [Custom Translator](https://portal.customtranslator.azure.ai/)."
                    },
                    "RequiredAction": {
                      "AdditionalInfo": null,
                      "OfficialReport": "> - If you are using version 2 of Translator, please [migrate your applications to version 3](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/migrate-to-v3) before 24 May 2021 to avoid service disruption.\r\n> - Your current Translator subscription and key will work with version 3, there is no need to create a new Translator subscription in the Azure portal."
                    },
                    "Title": "Azure Cognitive Services Translator v2 is deprecated by 24 May 2021."
                  },
                  "PublishedNotice": {
                    "ApiInfo": {
                      "Id": 704370266,
                      "Url": "https://api.github.com/repos/azure-deprecation-automation/sandbox/issues/73"
                    },
                    "ClosedAt": null,
                    "CreatedAt": "2020-09-18T13:16:36+00:00",
                    "DashboardInfo": {
                      "Id": 73,
                      "Url": "https://github.com/azure-deprecation-automation/sandbox/issues/73"
                    },
                    "Labels": [
                      "area:certification",
                      "impact:migration-required",
                      "services:cognitive-services",
                      "verified"
                    ],
                    "Title": "Azure Cognitive Services Translator v2 is deprecated by 24 May 2021.",
                    "UpdatedAt": "2020-09-18T13:16:37+00:00"
                  }
                }
              }
            },
            "Post_a_tweet": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['twitter']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/posttweet",
                "queries": {
                  "tweetText": "📢 @{body('Parse_JSON')['DeprecationInfo']?['Title']}\n\n@{body('Parse_JSON')['PublishedNotice']?['DashboardInfo']?['Url']}\n\n#azure #deprecation"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]",
                "connectionName": "[parameters('serviceBusConnectionName')]",
                "id": "[variables('serviceBusConnectionId')]"
              },
              "twitter": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('twitterConnectionName'))]",
                "connectionName": "[parameters('twitterConnectionName')]",
                "id": "[variables('twitterConnectionId')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', parameters('twitterConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('cosmosDbConnectionName')]",
      "location": "[parameters('defaultLocation')]",
      "properties": {
        "displayName": "[parameters('cosmosDbConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[variables('cosmosDbConnectionId')]"
        },
        "parameterValues": {
          "databaseAccount": "[parameters('cosmosDbAccountName')]",
          "accessKey": "[listKeys(resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosDbAccountName')), '2015-04-08').primaryMasterKey]"
        }
      }
    }
  ]
}